# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

BE_LUXURY_SHORES/node_modules
BE_LUXURY_SHORES/package-lock.json

FE_LUXURY_SHORES/node_modules
FE_LUXURY_SHORES/dist
FE_LUXURY_SHORES/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
